* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #d9dcd6;
}

/* Header contains two sections [title + nav], title includes span element for alternate text color on "seo". */

header {
    width: 100%;
    display: flex;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    font-size: 48px;
    align-content: center;
    text-align: center;
}

header h1 #seo {
    font-family: inherit;
    color: #d9dcd6;
}

/* Nav box and link properties */

header nav {
    flex: 2;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 15px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: aqua;
}

/* End nav section */

/* End header section */

p {
    font-size: 16px;
}

/**
 * Main article content
 * 
 * This creates a container for multiple section containers, each with a text section and an img that can
 * be moved to either the left or right side of the text using '.align-left' or '.align-right' respectively.
 * Sections are stacked vertically on top of each other, then horizontally within each section. The text section
 * is stacked vertically.
 * 
 * The main section is set to a default 80% (flex: 4) to leave room for the sidebar, which is set to 20% (flex: 1).
 */

main {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    background-color: #0072bb;
    color: #ffffff;
}


main section h2 {
    margin-bottom: 20px;
    font-size: 225%;
}

main section img {
    height: 200px;
    width: fit-content;
}

.align-left {
    order: 0;
    margin-right: 20px;
}

.align-right {
    order: 1;
    margin-left: 20px;
}

/* End main section */

/**
 * Aside content
 * 
 * This creates a container for multiple sub-containers, each with a title, an image, and a text section. Sections are
 * arranged vertically, stacked on top of one another.
 * 
 * The aside section is set to a default 20% (flex: 1) to accomodate the main section, which is set to 80% (flex: 4).
 */

aside {
    flex: 1;
    padding: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
}

aside section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #2589bd;
    color: #ffffff;
}

aside section div {
    display: flex;
    justify-content: center;
}

aside section div img {
    max-height: 200px;
}

aside section h3 {
    text-align: center;
}

/* End Aside section */

/* Footer properties */

footer {
    width: 100%;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/* End Footer section */

/* Adjustments to body, main, aside, and aside images to adjust for smaller screen size */

@media screen and (max-width:900px) {
    body {
        flex-direction: column;
    }
    
    main {
        width: 100%;
        padding: 20px 20px 0px 20px;
    }

    aside {
        width: 100%;
        flex-direction: row;
        padding: 0px 20px;
    }

    aside section img {
        
        width: fit-content;
    }
}

/* Adjustments to header, main, and aside to respond to smallest screen sizes. */

@media screen and (max-width:762px) {
    header {
        flex-direction: column;
    }

    header nav {
        justify-content: center;
    }

    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        padding: 10px;
    }

    main section {
        flex-direction: column;
    }

    .align-right {
        order: 0;
        margin: 0px;
    }

    .align-left {
        margin: 0px;
    }

    aside {
        flex-direction: column;
    }
}

